/* Variables */
:root {

}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

/* Document */
body {
    background: #CCC;
    font: 16px 'Verdana', 'Helvetica', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid: [row1-start] "sidebar header" 1fr [row1-end]
          [row2-start] "sidebar main"   5fr [row2-end]
          /               1fr    4fr;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 1rem 0;
    background: rgb(54, 158, 255);
    color: #FFF;
    font-weight: bold;
}

.logo-div {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem 0 .5rem;
    font-size: 1.5rem;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.sidebar a {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 1rem;
    font-size: 1rem;
}

.main-content {
    grid-area: main;
}

/* Common */
.icon {
    width: 2rem;
    height: 2rem;
}

/* Elements */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    font-size: 0.4rem;
}