/* Variables */
:root {
    --font-size-huge: 1.5rem;
    --font-size-large: 1rem;
    --font-size-medium: .9rem;
    --font-size-small: .7rem;
    --font-size-tiny: .5rem;

    --color-white: #FFF;
    --font-color-gray: rgb(96, 100, 104);
    --bg-color-gray: rgb(218, 227, 235);
    --color-blue: rgb(54, 158, 255);
}

/* Global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

/* Document */
body {
    background: var(--bg-color-gray);
    font: 16px 'Verdana', 'Helvetica', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid: [row1-start] "sidebar header" 1fr [row1-end]
          [row2-start] "sidebar main"   5fr [row2-end]
          /               1fr    4fr;
}

/* Header */
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
}

header > div {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

label {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

#search-bar {
    flex: 1;
}

.header-top p {
    align-self: center;
}

.header-bottom > * {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 1rem 0;
    background: var(--color-blue);
    color: var(--color-white);
}

.logo-div {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem 0 .5rem;
    font-size: var(--font-size-huge);
}

.sidebar a {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 1rem;
}

/* Main content */
.main-content {
    grid-area: main;
    display: grid;
    grid: "projects-header announcements-header" 2rem 
          "projects        announcements"        1fr 
          "projects        trending-header"      2rem
          "projects        trending"             1fr 
          ".               ."                    2rem
          /  3fr                1fr;
    column-gap: 1rem;
    padding: 1rem;
}

#projects-header {
    grid-area: projects-header;
}

#announcements-header {
    grid-area: announcements-header;
}

#trending-header {
    grid-area: trending-header;
}

.content-header {
    display: flex;
    align-items: flex-end;
    padding-bottom: .5rem;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 1rem;
}

.project-div a {
    grid-template-rows: auto 1fr auto;
}

.project-buttons {
    align-self: flex-end;
    justify-self: flex-end;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.project-div,
.announcements,
.trending {
    display: flex;
    margin-bottom: 1rem;
}

.project-div a,
.main-content ul {
    flex: 1;
    gap: .5rem;
    align-items: flex-start;
    justify-content: start;
    border-radius: .5rem;
    background: var(--color-white);
    padding: 1rem;
}

.project-div a {
    display: grid;
    grid-template-columns: 1fr;
}

.main-content ul {
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
}

.main-content li {
    display: flex;
    min-height: 20%;
}

.main-content li a {
    flex: 1;
}

.project-div p,
.trending p {
    font-size: var(--font-size-small);
}

.announcements p,
.author-project {
    color: var(--font-color-gray);
}

.trending a {
    display: flex;
}

/* Icon sizing */
.icon, 
.profile-icon {
    width: 2rem;
    height: 2rem;
}

.logo,
.user-greeting .profile-icon {
    width: 3rem;
    height: 3rem;
}

/* Elements */
h1 {
    font-size: var(--font-size-large);
    font-weight: bold;
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

h3 {
    font-size: var(--font-size-small);
    font-weight: bold;
}

p {
    font-size: var(--font-size-tiny);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    font-size: var(--font-size-tiny);
}