/* Variables */
:root {
    --font-size-huge: 1.5rem;
    --font-size-large: 1rem;
    --font-size-medium: .9rem;
    --font-size-small: .6rem;
    --font-size-tiny: .4rem;

    --color-white: #FFF;
    --color-gray: #DDD;
    --color-blue: rgb(54, 158, 255);
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

/* Document */
body {
    background: var(--color-gray);
    font: 16px 'Verdana', 'Helvetica', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid: [row1-start] "sidebar header" 1fr [row1-end]
          [row2-start] "sidebar main"   5fr [row2-end]
          /               1fr    4fr;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    font-size: var(--font-size-medium);
    font-weight: 600;
}

header > div {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

label {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

#search-bar {
    flex: 1;
}

.header-top p {
    align-self: center;
}

.header-bottom > * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greeting-text p {
    font-size: var(--font-size-small);
}

.greeting-text h1 {
    font-size: var(--font-size-large);
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 1rem 0;
    background: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
}

.logo-div {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem 0 .5rem;
    font-size: var(--font-size-huge);
}

.sidebar a {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 1rem;
    font-size: var(--font-size-large);
}

.main-content {
    grid-area: main;
}

/* Common */
.icon, 
.profile-icon {
    width: 2rem;
    height: 2rem;
}

.logo,
.user-greeting .profile-icon {
    width: 3rem;
    height: 3rem;
}

/* Elements */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    font-size: var(--font-size-tiny);
}